
<div class="container py-5">
  <div>
    <img class="card-img" src="assets/images/tea1.png" alt="1">
  </div>
</div>

<div class="container col-lg-10 py-5 ">
  <div class="text-center fw-bold fs-3 mb-5">Ответы на часто задаваемые вопросы</div>

  <div class="mx-auto" appAccordion id="accordion">
    <h3 class=" py-4 mb-3 rounded-3 fw-bold bg-primary text-justify text-white">Собираете ли вы подарочные
      боксы?</h3>
    <div class="border-0 ">
      <p class="">
        Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
      </p>
    </div>
    <h3 class="py-4 mb-3 rounded-3 fw-bold bg-primary text-white">Сколько у вас разновидностей чая?</h3>
    <div class="border-0 ">
      <p class="">
        ...
      </p>
    </div>
    <h3 class="py-4 mb-3 rounded-3 fw-bold bg-primary text-white">В какой срок осуществляется доставка?</h3>
    <div class="border-0 ">
      <p class="">
        ...
      </p>
    </div>
    <h3 class="py-4 mb-3 rounded-3 fw-bold bg-primary text-white">У вас обновляется ассортимент?</h3>
    <div class="border-0 ">
      <p class="">
        ...
      </p>
    </div>
    <h3 class="py-4 mb-3 rounded-3 fw-bold bg-primary text-white">Какого объема у вас пачки чая?</h3>
    <div class="border-0">
      <p class="">
        ...
      </p>
    </div>
  </div>
</div>

<div class="popup fixed-bottom ps-5 pb-2" *ngIf="showPopup">
  <div class="d-inline-block border rounded-3 p-3 bg-white">
    <div>Посмотрите нашу чайную коллекцию</div>
    <button class="btn btn-primary ali mt-4" [routerLink]="'/catalog'">Перейти</button>
  </div>
</div>
