<div id="orderForm" class="container py-5">
  <div class="text-center fw-bold fs-3 mb-5">Сделать заказ</div>
  <div class="col-lg-10 mx-auto">
    <div class="row">
      <div class="col-sm-12 mb-2 ">
        <p class="fw-medium">Товар</p>
        <input type="text" name="Товар" class="form-control formInput">
      </div>
      <div class="col-sm-4 mb-2">
        <p class="fw-medium">Имя</p>
        <input type="text" name="Имя" class="form-control formInput">
      </div>
      <div class="col-sm-4 mb-2">
        <p class="fw-medium">Фамилия</p>
        <input type="text" name="Фамилия" class="form-control formInput">
      </div>
      <div class="col-sm-4 mb-2">
        <p class="fw-medium">Телефон</p>
        <input type="text" name="Телефон" class="form-control formInput">
      </div>
      <div class="col-sm-6 mb-2">
        <p class="fw-medium">Страна</p>
        <input type="text" name="Страна" class="form-control formInput">
      </div>
      <div class="col-sm-6 mb-2">
        <p class="fw-medium">Индекс</p>
        <input type="text" name="Индекс" id="indexForm" class="form-control formInput">
      </div>
      <div class="col-sm-12 mb-2 ">
        <p class="fw-medium">Адрес</p>
        <input type="text" name="Адрес" class="form-control formInput">
      </div>
      <div class="col-sm-12 mb-5 ">
        <p class="fw-medium">Комментарий</p>
        <input type="text" name="Комментарий" class="form-control formInput">
      </div>
    </div>
    <button id="submitButton" type="submit" class="btn btn-primary col-md-4">Купить</button>
  </div>
</div>

<div id="orderAccepted" class="text-center fw-bold fs-3 py-6">Спасибо за заказ!</div>
